{{- $env := concat .Values.env .Values.resourceManager.env }}
{{- $envFrom := concat .Values.envFrom .Values.resourceManager.envFrom }}
{{- $volumes := concat .Values.volumes .Values.resourceManager.volumes }}
{{- $volumeMounts := concat .Values.volumeMounts .Values.resourceManager.volumeMounts }}
{{- $containers := concat .Values.containers .Values.resourceManager.containers }}
{{- $initContainers := concat .Values.initContainers .Values.resourceManager.initContainers }}
{{- $nodeSelector := or .Values.resourceManager.nodeSelector .Values.nodeSelector }}
{{- $affinity := or .Values.resourceManager.affinity .Values.affinity }}
{{- $tolerations := or .Values.resourceManager.tolerations .Values.tolerations }}
{{- $securityContext := or .Values.resourceManager.securityContext .Values.securityContext }}
{{- if eq .Values.mode "ha-cluster" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-resource-manager
  labels:
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: resource-manager
    app.kubernetes.io/version: {{ .Values.image.tag | default .Chart.AppVersion | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Chart.Name }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/component: resource-manager
  strategy: {{- toYaml .Values.resourceManager.deployment.strategy | nindent 4 }}
  revisionHistoryLimit: {{ toYaml .Values.resourceManager.deployment.revisionHistoryLimit }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Chart.Name }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/component: resource-manager
      annotations:
        checksum/catalog: {{ include (print $.Template.BasePath "/configmap-catalog.yaml") . | sha256sum }}
        checksum/resource-manager: {{ include (print $.Template.BasePath "/configmap-resource-manager.yaml") . | sha256sum }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if or .Values.serviceAccount.create .Values.serviceAccount.name }}
      serviceAccountName: {{ .Values.serviceAccount.name | default .Release.Name }}
      {{- end }}
      {{- with $initContainers }}
      initContainers: {{- tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      containers:
        - name: resource-manager
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.resourceManager.command }}
          command: {{- tpl (toYaml .) $ | nindent 12 }}
          {{- end }}
          {{- with .Values.resourceManager.args }}
          args: {{- tpl (toYaml .) $ | nindent 12 }}
          {{- end }}
          {{- with $env }}
          env: {{- tpl (toYaml .) $ | nindent 12 }}
          {{- end }}
          {{- with $envFrom }}
          envFrom: {{- tpl (toYaml .) $ | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
            - name: thrift
              containerPort: 8081
            {{- if .Values.metrics.enabled }}
            - name: metrics
              containerPort: {{ .Values.metrics.port }}
            {{- end }}
          livenessProbe:
            httpGet:
              path: /v1/status
              port: http
            initialDelaySeconds: {{ .Values.resourceManager.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.resourceManager.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.resourceManager.livenessProbe.timeoutSeconds }}
            failureThreshold: {{ .Values.resourceManager.livenessProbe.failureThreshold }}
            successThreshold: {{ .Values.resourceManager.livenessProbe.successThreshold }}
          readinessProbe:
            httpGet:
              path: /v1/status
              port: http
            initialDelaySeconds: {{ .Values.resourceManager.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.resourceManager.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.resourceManager.readinessProbe.timeoutSeconds }}
            failureThreshold: {{ .Values.resourceManager.readinessProbe.failureThreshold }}
            successThreshold: {{ .Values.resourceManager.readinessProbe.successThreshold }}
          {{- with .Values.resourceManager.resources }}
          resources: {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - mountPath: {{ .Values.home }}/etc
              name: config
            - mountPath: {{ .Values.home }}/etc/catalog
              name: catalog
            {{- with $volumeMounts }}
              {{- tpl (toYaml .) $ | nindent 12 }}
            {{- end }}
        {{- with $containers }}
          {{- tpl (toYaml .) $ | nindent 8 }}
        {{- end }}
      volumes:
        - name: config
          configMap:
            name: {{ .Release.Name }}-resource-manager
        - name: catalog
          configMap:
            name: {{ .Release.Name }}-catalog
        {{- with $volumes }}
          {{- tpl (toYaml .) $ | nindent 8 }}
        {{- end }}
      {{- with $nodeSelector }}
      nodeSelector: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $affinity }}
      affinity: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $tolerations }}
      tolerations: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $securityContext }}
      securityContext: {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
